body {
    background-image: url(../images/homepagepic.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: lightskyblue;
}


h1 {
    font-style: normal;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: xxx-large;
    text-align: center;
}

nav {
    text-align: center;
    
}  

a {
    text-decoration-line: none;
    margin-left: 10px;
    margin-right: 10px;
}


